@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide {
  padding: 16px;
}

th,
td {
  @apply p-2 text-left;
}

ul,
ol {
  @apply mx-8 p-2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.active_question_panel {
  @apply whitespace-pre-wrap;
}

.active_question_panel > table {
  @apply text-sm;
}

.active_question_panel > table td {
  @apply border border-gray-500 text-center;
}

.active_question_panel > table th {
  @apply border border-gray-500 text-center;
}
